@import '../common/vars';

.Yellow {
  .Title-Text, .Content-Text, .Legend-Text {
    color: $yellow-teepote !important;
  }
}
.White {
  .Title-Text, .Content-Text, .Legend-Text {
    color: white !important;
  }
}

.Margin-Section-Who {
  margin: auto;
  // margin-right: $phone-margin-left * 2;
}

.Margin-Section-What {
  margin-left: $phone-margin-left;
  background-color: #00000050;
}


.TextZone {
  height: $who-textzone-height;
  width: $who-textzone-width;

  .Content-Text, .Legend-Text {
    font-family: 'OpenSans'
  }

  .Title-Text{
    font-family: 'Amatic-Bold';
    height: 30%;
    text-align: center;
    font-size: 4.5em;
    // background-color: #000000A0;
  }
  .Content-Text{
    height: 40%;
    font-size: 1.35em;
    // background-color: #000000C0;
  }
  .Legend-Text{
    height: 30%;
    font-size: 1em;
    // background-color: #00000090;
  }
}
