@import '../common/vars';

.SectionWho {
  padding-top: 60px;
  height: $section-who-height;
  margin: 0px;
  display: flex;
  z-index: 2;
  background-color: rgba(255,0,255,0.2);

  .TextZone, .Phone {
    flex: 0 0 auto;
    align-items: center;
  }
}
