@import '../common/vars';

.Phone {

  height: $phone-height;
  width: $phone-width;
  // background-color: rgba(255,0,0,0.5);

  margin-left: $phone-margin-left;

  img {
    width: 100%;
    height: 100%;
    z-index: 2;
  }
}
