@import '../common/vars';
body {
  overflow: hidden;
}

.NavBarMobile {
  position: fixed;
  left: 0;
  top: 0;
  height: $nav-height;
  width: 100%;
  background-color: $yellow-teepote;
  z-index: 100;
  padding: 0;

  -webkit-box-shadow: $nav-shadow;
  -moz-box-shadow: $nav-shadow;
  box-shadow: $nav-shadow;

  .Navigation {
    height: 100%;
    list-style: none;
    height: $nav-height;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    .MenuIcon {
      height: 40px;
      width: 40px;
      display: flex;
      align-items: center;
      margin-left: auto;
      margin-right: auto;
      div {
        height: 25px;
        width: 25px;
        margin: auto;
        svg {
          color: white;
          height: 100%;
          width: 100%;
        }
      }
    }
    .Logo {
      height: 80%;
      width: auto;
      margin-left: auto;
    	margin-right: auto; /*applied only to the right*/
      display: flex;
      align-items: center;
      a {
        flex: 0 0 auto;
        width: auto;
        height: 70%;

        img {
          height: 100%;
          width: auto;
        }
      }
    }
  }
  #exitMenu {
    animation: fadeIn ease 5s;
  }
}

@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}
