@import '../common/vars';

.NavBar {
  position: fixed;
  left: 0;
  top: 0;
  height: $nav-height;
  width: 100%;
  background-color: $yellow-teepote;
  z-index: 100;
  padding: 0;

  -webkit-box-shadow: $nav-shadow;
  -moz-box-shadow: $nav-shadow;
  box-shadow: $nav-shadow;

}

.Navigation {
  height: 100%;
  list-style: none;
  height: $nav-height;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  .Logo {
    height: 100%;
    margin-left: 40px;
  	margin-right: auto; /*applied only to the right*/
    display: flex;
    align-items: center;
    a {
      flex: 0 0 auto;
      width: auto;
      height: 70%;

      img {
        height: 100%;
        width: 100%;
      }
    }
  }
}

.Nav-Item {
  flex: 0 0 auto;
  line-height:$item-heigth;
  height: $item-heigth;
  padding: $nav-item-padding;
  margin: $nav-item-margin;
    &:hover {
      background-color: white;
      border-radius: 7px;
        a {
          color: $yellow-teepote;
      }
    }
    &:last-child {
      margin-right: 20px;
    }
  a {
    text-decoration: none;
    color: white;
    font-size: 1.3em;
    padding: 3px;
  }
}
