@import '../common/vars';

.ContactMobile {

  height: auto;
  width: 100%;
  z-index: 0;
  // margin-top: $nav-height;

  /*  Tempo  */
  background-color: $yellow-teepote;
  .Intro {

    font-family: 'Amatic-Bold';
    font-weight: bold;
    font-size: 7.5em;
    text-align: center;
    color: white;
    .Head {
      margin-Bottom: 8%;

    }
    .ContactText {
      font-family: 'OpenSans';
      font-weight: bold;
      font-size: 0.4em;
      margin-bottom: 6%;
    }
    .Contact {
      font-family: 'OpenSans';
      font-weight: bold;
      font-size: 0.4em;
      margin-bottom: 2%;
    }
  }
  form {
    // margin-top: 10% !important;
    margin: 13% 10% 0 6%;
    display: flex;
    flex-direction: column;
    label{
      font-size: 2em;
      font-family: 'OpenSans';
      color: white;
      font-weight: bold;

      input,textarea {
        background-color: white;
        border-radius: 0%;
        border: none;
        font-size: 1.5em;
        padding: 5px 2% 5px 2% ;
        line-height: 2.1em;
        height: 100%;
        margin-bottom: 4%;
        margin-top: 2%;
        width: 100%;
        color: black;
      }
      textarea {
        line-height: 1.3em;

      }
    }
    p {
      margin-top: 0px;
      color: white;
      font-family: 'OpenSans';
      font-size: 1.6em;
    }
    //submit
    input {

      border-radius: 0%;
      border: none;

      font-family: 'OpenSans';
      font-weight: bold;
      font-size: 2.5em;
      color: white;
      background-color: $bleu-teepote;
      margin-bottom: 3px;
      margin-top: 3px;
      line-height: 2em;
    }
  }
  .FooterContact {
    margin-top: 10%;
    margin-bottom: 10%;
    color: $bleu-teepote;
    background-color: white;
    display: flex;
    flex-direction: column;
    text-align: center;
    .Url{
      margin-top: 5%;
      margin-bottom: 1%;
      font-size: 2.5em;
      span {
        font-weight: bold;
      }
    }
    .Line{
      font-size: 1.6em;
    }
  }

}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus
input:-webkit-autofill,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border:none !important;
  -webkit-text-fill-color: black !important;
  -webkit-box-shadow: 0 0 0px 1000px #FFFFFF inset;
  transition: background-color 5000s ease-in-out 0s;
}
